@import "tailwindcss";

@theme {
  --font-mono: "Montserrat", sans-serif;
  --font-sans: "Poppins", monospace;

  --color-green: oklch(61.45% 0.1379 154.75);
  --color-dark-green: oklch(48.46% 0.1149 153.73);
  --color-light-blue: oklch(81.09% 0.0646 242.24);
  --color-blue: oklch(86.54% 0.0545 241.68);
  --color-dark-blue: oklch(71.47% 0.0586 242.21);
  --color-beige: oklch(99.27% 0.025 114.14);
}

@layer base {
  body {
    @apply font-sans text-sm md:text-base font-normal;
  }
  h1 {
    @apply text-4xl font-mono  lg:text-6xl font-semibold;
  }
  h2 {
    @apply text-2xl font-mono  lg:text-4xl font-medium;
  }
  h3 {
    @apply text-xl font-sans font-bold;
  }
  h4 {
    @apply text-lg font-sans font-semibold;
  }
  .text-button {
    @apply text-xs;
  }
}

@layer components {
  .noscroll {
    overflow: hidden;
  }

  .duotone {
    @apply relative flex overflow-hidden bg-slate-400 
           before:absolute before:inset-0 before:z-[1] 
           before:bg-emerald-800 before:mix-blend-lighten 
           before:opacity-50 before:transition-all before:duration-300 before:ease-in-out;

    img {
      @apply flex-[1_0_100%] object-cover mix-blend-multiply grayscale
             transition-all duration-300 ease-in-out 
             contrast-110 brightness-90;
    }
  }
}
