---
import Layout from "../../layouts/Layout.astro";

let hero = {
  title: "Activités",
  date: "Du 5 au 8 juillet 2025",
  button: "Voir la Programmation",
};
---

<Layout hero={hero}>
  <h1>azzd</h1>
</Layout>
