---
import Layout from "../layouts/Layout.astro";

const hero = {
  title: "À Propos du Festival CinéNature",
};
---

<Layout hero={hero}>
  <section
    class="w-[80dvw] md:w-auto self-center text-(--color-dark-green) p-8"
  >
    <h2 class="text-xl font-bold mb-4">À Propos du Festival CinéNature</h2>
    <p>
      Le Festival CinéNature est un événement unique qui célèbre le cinéma
      engagé et la protection de l’environnement. Organisé chaque année sur la
      presqu’île du Malsaucy, près de Belfort, il combine projections en plein
      air, ateliers interactifs et rencontres avec des réalisateurs pour
      sensibiliser le public aux grands enjeux écologiques et sociaux.
    </p>
  </section>

  <section
    class="w-[80dvw] md:w-auto self-center text-(--color-dark-green) p-8 mt-8"
  >
    <h2 class="text-xl font-bold mb-4">Notre mission</h2>
    <p>
      Le festival CinéNature a pour objectif de mettre en lumière des films et
      documentaires qui abordent des thématiques liées à l’écologie, la
      durabilité et les problématiques locales. À travers cet événement, nous
      souhaitons inspirer des actions concrètes pour un avenir plus respectueux
      de l’environnement, tout en valorisant la créativité locale et
      internationale.
    </p>
  </section>

  <section
    class="w-[80dvw] md:w-auto self-center text-(--color-dark-green) p-8 mt-8"
  >
    <h2 class="text-xl font-bold mb-4">Nos Valeurs</h2>
    <ul>
      <li>
        <strong>Éco-responsabilité :</strong> Engagement pour la protection de la
        nature avec des pratiques durables.
      </li>
      <li>
        <strong>Accessibilité :</strong> Un festival ouvert à tous avec des tarifs
        adaptés et une programmation pour tous les âges.
      </li>
      <li>
        <strong>Créativité Locale :</strong> Mise en avant des jeunes talents et
        films locaux.
      </li>
    </ul>
  </section>

  <section
    class="w-[80dvw] md:w-auto self-center text-(--color-dark-green) p-8 mt-8"
  >
    <h2 class="text-xl font-bold mb-4">Nos Équipes</h2>
    <div class="flex flex-col md:flex-row gap-8">
      <div>
        <p><strong>Organisateur :</strong> Bryan Mengoux</p>
        <p>bryanmengoux@gmail.com</p>
      </div>
      <div>
        <p><strong>Programmatrice :</strong> Lorena Chevallot</p>
        <p>lorenachevallot@gmail.com</p>
      </div>
    </div>
  </section>

  <section
    class="w-[80dvw] md:w-auto self-center text-(--color-dark-green) p-8 mt-8"
  >
    <h2 class="text-xl font-bold mb-4">Engagement durable</h2>
    <p>
      Nous collaborons avec des partenaires locaux et des associations pour
      promouvoir une organisation éco-responsable et réduire l’empreinte
      écologique du festival. Notre but est de sensibiliser les participants à
      adopter des pratiques respectueuses de l’environnement.
    </p>
  </section>

  <section
    class="w-[80dvw] md:w-auto self-center text-(--color-dark-green) p-8 mt-8"
  >
    <h2 class="text-xl font-bold mb-4">Rejoignez-nous !</h2>
    <p>
      Vivez une expérience immersive au Festival CinéNature et participez à un
      événement qui allie le cinéma, la culture et la nature pour un monde plus
      vert !
    </p>
  </section>
</Layout>
