---
import Layout from "../layouts/Layout.astro";

const hero = {
  title: "Billeterie",
  description: "Réservez vos places pour nos prochaines séances",
  image: "/src/assets/hero_billeterie.jpg",
};
---

<Layout>
  <h1>temp</h1>
</Layout>
