---
import Layout from "../layouts/Layout.astro";
import headerImg from "../assets/malsaucy.webp";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <Hero headerImg={headerImg.src}>
    <h1 slot="title">CINÉNATURE</h1>
    <p slot="chapo">
      Festival de cinéma éco-responsable du territoire de Belfort
    </p>
    <p slot="date">Du 5 au 8 juillet 2025</p>
    <Button slot="button">Voir la Programmation</Button>
  </Hero>
</Layout>
