---
import Layout from "../layouts/Layout.astro";
import heroImg from "../assets/malsaucy_2.webp";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero heroImg={heroImg.src}>
    <h1 slot="title">La programmation</h1>
  </Hero>
</Layout>
