---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";

import { getFilmsByDate } from "../../backend/backend.mjs";

let films = await getFilmsByDate();

let hero = {
  title: "Programme",
  description: "Découvrez la programmation du festival Cinénature",
  heroImg: "",
  heroImgLg: "",
};
---

<Layout hero={hero}>
  <div id="first">
    <Carousel films={films} />
  </div>
</Layout>
