---
const props = Astro.props;
let heroImg = props.heroImg;
---

<div class="relative h-screen text-white flex flex-col gap-4">
  <div class="absolute inset-0 duotone -z-10">
    <img
      src={heroImg}
      alt="header background"
      class="object-cover w-full h-full"
    />
  </div>

  <div class="flex flex-col justify-center gap-4 h-full relative z-10 px-4">
    <slot name="title" />
    <div>
      <slot name="chapo" />
      <slot name="date" />
    </div>
    <slot name="button" />
  </div>
</div>
